*:not(pre, code, a, .video-player-loaded *) {
  background-color: #333 !important;
  color: #bbb !important;
}

pre,
code {
  background-color: #444 !important;
  color: #bbb !important;
}

a {
  background-color: #333 !important;
  color: #06f !important;
}

.search::before {
  background-color: #333 !important;
}